GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/YOUR_SCRIPT_ID/exec
APP_SECRET=your-random-secret-string   # openssl rand -hex 32
GOOGLE_SHEET_ID=your-google-sheet-id
USERS_GID=0
FIXTURES_GID=123456789
BETS_GID=987654321
NETLIFY_BUILD_HOOK=https://api.netlify.com/build_hooks/YOUR_HOOK_ID
# Site URL: https://vuila9.netlify.app
